
  
  <div id="keyboard" class="keyboard">
    <button class="keyboard-button" (click)="insertChar('ã')">ã</button>
    <button class="keyboard-button" (click)="insertChar('ẽ')">ẽ</button>
    <button class="keyboard-button" (click)="insertChar('ĩ')">ĩ</button>
    <button class="keyboard-button" (click)="insertChar('õ')">õ</button>
    <button class="keyboard-button" (click)="insertChar('ũ')">ũ</button>
    <button class="keyboard-button" (click)="insertChar('ɛ')">ɛ</button>
    <button class="keyboard-button" (click)="insertChar('ɩ')">ɩ</button>
    <button class="keyboard-button" (click)="insertChar('ʋ')">ʋ</button>
    <button class="keyboard-button" (click)="insertChar('ç')">ç</button>
    <button class="keyboard-button" (click)="insertChar('â')">â</button>
    <button class="keyboard-button" (click)="insertChar('à')">à</button>
    <button class="keyboard-button" (click)="insertChar('ê')">ê</button>
    <button class="keyboard-button" (click)="insertChar('è')">è</button>
    <button class="keyboard-button" (click)="insertChar('ë')">ë</button>
    <button class="keyboard-button" (click)="insertChar('é')">é</button>
    <button class="keyboard-button" (click)="insertChar('î')">î</button>
    <button class="keyboard-button" (click)="insertChar('ï')">ï</button>
    <button class="keyboard-button" (click)="insertChar('ô')">ô</button>
    <button class="keyboard-button" (click)="insertChar('û')">û</button>
    <button class="keyboard-button" (click)="insertChar('ù')">ù</button>
    <button class="keyboard-button" (click)="insertChar('ü')">ü</button>
</div>